{% extends "base.html" %}

{% block content %}
  <h2>Enter Super New Password</h2>
  {% if error %}
    <p>{{ error }}</p>
  {% elif form %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Set New Password</button>
    </form>
  {% else %}
    <p>Invalid link</p>
  {% endif %}
{% endblock %}

{% comment %} {% extends "base.html" %}

{% block content %}
  <h2>Enter Super New Password</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Set New Password</button>
  </form>
{% endblock %} {% endcomment %}
