<!DOCTYPE html>
<html>
<head>
    <title>Registration Successful</title>
</head>
<body>
    <img src="https://videoflix.alsiesta.com/static/images/videoflix_logo.png" alt="Videoflix Logo" style="width: 100px;">
    <h1>Registration Successful</h1>
    
    <p>Dear {{ username }},</p>
    <p>Thank you for registering at {{ site_name }}.</p>
    <p>Please click the link below to verify your email and activate your account:</p>
    <p>Click here: <a href="{{ verification_url }}">Verify Email</a></p>
    <p>Best regards,<br>{{ site_name }} Team</p>
</body>
</html>